{% extends 'base.html' %}

{% block content %}
<h1>Full text of {{article.title}}: </h1>
<p>content {{ article.content }}</p>
<p>publish_date {{ article.publish_date }}</p>
<p>category {{ article.category }}</p>
<p>author {{ article.author }}</p>
<p>views {{ article.views }}</p>
<p>is_published {{ article.is_published }}</p>
<h3>List of comments: </h3>
{% for comment in comments %}
<p>{{ comment.comment_text }}</p>
<p>{{ comment.author_text }}</p>
{% if comment.update_date %}
<p>{{ comment.update_date }}</p>
    {{ update }}
{% else %}
<p>{{ comment.added_date }}</p>
{% endif %}
{% endfor %}


{% endblock %}