{% extends 'base.html' %}

{% block content %}
<h1>Full text of article "{{article.title}}": </h1>
<p>content: {{ article.content }}</p>
<p>publish_date: {{ article.publish_date }}</p>
<p>category: {{ article.category }}</p>
<p>author: {{ article.author }}</p>
<p>views: {{ article.views }}</p>
<p>published: {{ article.is_published }}</p>

<h1>{{ message }}</h1>
<div class="container">
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Push">
    </form>
</div>

<h4>List of comments: </h4>
{% for comment in comments %}
    <p>text: {{ comment.comment_text }}</p>
    <p>author: {{ comment.author }}</p>
    {% if comment.update_date != comment.added_date %}
        <p>update {{ comment.update_date }}</p>
        <br/>
    {% else %}
        <p>create {{ comment.added_date }}</p>
        <br/>
    {% endif %}
{% endfor %}
{% endblock %}